{
	frankenphp
}

{$SERVER_NAME} {
	mercure {
		# Publisher JWT key
		publisher_jwt {$MERCURE_PUBLISHER_JWT_KEY}
		# Subscriber JWT key
		subscriber_jwt {$MERCURE_SUBSCRIBER_JWT_KEY}
		cors_origins *
        anonymous
        subscriptions
		ui
	}
	root * public/
	encode zstd br gzip

	php_server
}