<turbo-stream action="update" target="modal">
    <template>
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="button">Valider</button>
        {{ form_end(form) }}
    </template>
</turbo-stream>