{% extends 'base.html.twig' %}
{% block body %}
    <div class="flex">
        <div class="m-auto">
            {{ include('security/_form_login.html.twig') }}
        </div>
    </div>
{% endblock %}
