{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="text-center">Insurrection JDR</h1>
<section class="flex gap-3 flex-justify-around">
    <article class="infoBlock">
        <h2>Le Jeu</h2>
        <p>
            Sans dé ni meneur, <em>L'INSURRECTION</em> se pratique de 5 à 8 joueuses. On y raconte ensemble une révolte, un renversement social, de façon à la fois matérialiste et romanesque.
        </p>
        <p>
            Matérialiste parce qu’il ne s’agit pas d’un récit de héros qui sauvent le monde. Ici, les grandes structures donnent le ton : qu’il s’agisse de l’ordre, du pouvoir, des médias, des religions, du peuple lui-même, la grande Histoire n’est pas faite par les individus, mais bien par des entités enchevêtrées dans des rapports de force. Dans le jeu, on appelle ces rôles des <b>emprises</b>, et elles sont incarnées par une partie des joueuses, qui agissent un peu comme des meneurs de jeu qui n’auraient autorité que sur un thème particulier de l’histoire.
        </p>
        <p>
            Romanesque, parce qu’au sein de la grande Histoire, il y a les parcours individuels de personnalités qui vont être percutés de plein fouet par un récit qui les dépasse. Des personnages qui vont essayer de tirer leur épingle du jeu, de s’inscrire dans une lutte qui leur correspond, ou encore de poursuivre malgré les événements un but personnel que le tumulte bouscule. Dans le jeu, on appelle ces rôles des <b>trajectoires</b>, et elles sont incarnées par les autres joueuses, qui vont amener de l’émotion et un regard à hauteur humaine dans tout ce qu’il se passe.
        </p>
        <a href="https://electric-goat.net/products/4">En savoir plus et soutenir</a>
    </article>
    <div id="GameLobyList" {{ stimulus_controller('mercure-listen',{
        'mercureUrl':  mercure('UpdateLoby'),
        'mercureEventFlag':  'UpdateLoby',
    }) }} class="flex flex-column">
        <twig:LobbyList>
        </twig:LobbyList>
    </div>
</section>
{% endblock %}
