parameters:
    level: max
    paths:
        - bin/
        - config
        - src
        - public
    excludePaths:
        - var/*

    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Variable method call#'
    parallel:
        maximumNumberOfProcesses: 1
