<turbo-stream action="update" target="modal">
    <template>
        {{ form_start(form, {attr:{class: 'form grid gap-2'} }) }}
            {{ form_row(form.body, {
                attr:{class:"form-row"}
            })}}
            <button class="button" type="submit">Valider</button>
        {{ form_end(form) }}
    </template>
</turbo-stream>