:root {
    --red-1: #661b1c;
    --red-2: #531516;
    --yellow-1: #eaab23;
    --yellow-2: #d4a43c;
    --green-1: #195316;
    --gray-1: #1b222c;
    --gray-2: #191d26;
    --dark: #12151c;
    --light: #dfdfdf;
    --light-red: #ff6666;
}

@font-face {
    font-family: "Luciole";
    src: url("../fonts/Luciole/Luciole-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Luciole-bold";
    src: url("../fonts/Luciole/Luciole-Bold.ttf") format("truetype");
    font-weight: 500 600 700 800;
}

body {
    background-color: var(--gray-1);
    color: var(--light);
    padding: 0;
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: Luciole;
}

em, b {
    font-family: Luciole-bold;
    color: var(--light-red);
}

a {
    color: var(--light-red);
}

button {
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-size: initial;
	font-family: inherit;
}

textarea {
    width: 100%;
    min-height: 5rem;
    box-sizing: border-box;
}

input {
    width: 100%;
    box-sizing: border-box;
}

.h1 {
    font-size: 1.75rem;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
}

.h3 {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.m-0 {
    margin: 0;
}

.p-050 {
    padding: 0.5rem;
}

.p-100 {
    padding: 1rem;
}

.ts-dropdown, .ts-control, .ts-control input {
    line-height: unset !important;
}

.ts-dropdown .optgroup-header {
    font-size: 1rem !important;
    display: flex;
}

.ts-dropdown .optgroup-header:has(+ div > .power)::before,
.ts-dropdown .optgroup-header:has(+ div > .order)::before,
.ts-dropdown .optgroup-header:has(+ div > .echo)::before,
.ts-dropdown .optgroup-header:has(+ div > .people)::before,
.ts-dropdown .optgroup-header:has(+ div > .molotov)::before,
.ts-dropdown .optgroup-header:has(+ div > .badge)::before,
.ts-dropdown .optgroup-header:has(+ div > .pamphlet)::before,
.ts-dropdown .optgroup-header:has(+ div > .star)::before {
    content: '';
    height: 1rem;
    width: 1rem;
    display: block;
    margin-right: 0.25rem;
}

.ts-dropdown .optgroup-header:has(+ div > .power)::before {
    background-image: url('../svg/roles/crown.svg');
}

.ts-dropdown .optgroup-header:has(+ div > .order)::before {
    background-image: url('../svg/roles/police-badge.svg');
}

.ts-dropdown .optgroup-header:has(+ div > .echo)::before {
    background-image: url('../svg/roles/newspaper.svg');
}

.ts-dropdown .optgroup-header:has(+ div > .people)::before {
    background-image: url('../svg/roles/uprising.svg');
}

.ts-dropdown .optgroup-header:has(+ div > .molotov)::before {
    background-image: url('../svg/roles/molotov.svg');
}

.ts-dropdown .optgroup-header:has(+ div > .badge)::before {
    background-image: url('../svg/roles/medal.svg');
}

.ts-dropdown .optgroup-header:has(+ div > .pamphlet)::before {
    background-image: url('../svg/roles/full-folder.svg');
}

.ts-dropdown .optgroup-header:has(+ div > .star)::before {
    background-image: url('../svg/roles/round-star.svg');
}


.site-main {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23661b1c" d="M329.8 235.69l62.83-82.71 42.86 32.56-62.83 82.75zm-12.86-9.53l66.81-88-45-34.15-66.81 88zm-27.48-97.78l-19.3 39.57 57-75-42.51-32.3-36.24 47.71zm-20.74-73.24l-46.64-35.43-42 55.31 53.67 26.17zm107 235.52l-139-102.71-9.92.91 4.56 2 62.16 138.43-16.52 2.25-57.68-128.5-40-17.7-4-30.84 39.41 19.42 36.36-3.33 17-34.83-110.9-54.09-80.68 112.51L177.6 346.67l-22.7 145.62H341V372.62l35.29-48.93L387 275.77z"/></svg>');
    background-position: right;
    background-repeat: no-repeat;
    flex-grow: 1;
}
.site-main > h1 {
    width: 100%;
}
.site-header,
.site-footer {
    background-color: var(--gray-2);
    color: var(--light);
    min-height:5vh;
}
.site-footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}
.site-header {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-logo {
    --logo-size: 64px;
    display: inline-flex;
    height: var(--logo-size);
    width: var(--logo-size);
    position: relative;
    isolation: isolate;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: var(--light);
}
.site-logo::before {
    background-color: var(--gray-2);
    inset: 0;
    display: block;
    content: "";
    z-index: 1;
    position: absolute;
    border-radius: 999px;
    border: 2px solid currentColor;
}
.site-logo::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: currentColor;
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M329.8 235.69l62.83-82.71 42.86 32.56-62.83 82.75zm-12.86-9.53l66.81-88-45-34.15-66.81 88zm-27.48-97.78l-19.3 39.57 57-75-42.51-32.3-36.24 47.71zm-20.74-73.24l-46.64-35.43-42 55.31 53.67 26.17zm107 235.52l-139-102.71-9.92.91 4.56 2 62.16 138.43-16.52 2.25-57.68-128.5-40-17.7-4-30.84 39.41 19.42 36.36-3.33 17-34.83-110.9-54.09-80.68 112.51L177.6 346.67l-22.7 145.62H341V372.62l35.29-48.93L387 275.77z"/></svg>');
    z-index: 2;
}

.site-logo:hover {
    color: var(--light-red);
}


.text-center {
    text-align: center;
}

.infoBlock {
    max-width: 60ch;
    padding-inline: 1rem;
}

.menu {
    display: flex;
    align-items: end;
    list-style: none;
    gap: 0.5rem;
}

.button {
    display: inline-flex;
    background-color: var(--light);
    color: var(--dark);
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.125rem;
    transition: all 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}
.button:hover {
    background-color: var(--red-1);
    color: var(--light);
}
.button-link svg,
.button svg {
    height: 1rem;
    width: auto;
    transition: fill 0.3s ease-in-out;
    fill: currentColor;
}

.button.success {
    background-color: var(--green-1);
    color: var(--light);
}
.button.success:hover {
    background-color: var(--light);
    color: var(--dark);
}

.flag-red, 
.flag-black {
    flex-grow: 1;
    height: 64px;
}
.flag-red svg,
.flag-black svg {
    height: 100%;
}
.flag-red {
    background-color: var(--red-1);
}
.flag-red svg {
    fill: var(--light);
}
.flag-red:hover {
    background-color: var(--dark);
}
.flag-red:hover svg {
    fill: var(--red-1);
}
.flag-black:hover svg {
    fill: var(--dark);
}
.flag-black {
    background-color: var(--dark);
}
.flag-black svg {
    fill: var(--light);
}

.modal {
    background-color: var(--gray-2);
    color: var(--light);
    border: 3px solid var(--dark);
    border-radius: 0.25rem;
    padding: 0.5rem;
}
.modal-content {
    display: flex;
    justify-content: center;
    padding-inline: 5rem;
    padding-bottom: 3rem;
    min-width: 400px;
}
.modal-content form {
    flex-grow: 1;
}
.modal-navigation {
    display: flex;
    justify-content: flex-end;
}

.tabs-container {
    position: relative;
    isolation: isolate;
}

.tabs-container,
.tabs-panels,
.tabs-panels > div:not([hidden]),
.tabs-panels > div:not([hidden]) > turbo-frame
 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tabs-title {
    --border-width : 3px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    border-top: solid var(--border-width) var(--red-1);
}

.tabs-title li {
    transition: all 0.3s ease-in-out;
    padding: 0.5rem 1rem;
    background-color: var(--gray-2);
    border-top: var(--border-width) solid;
    border-color: var(--red-2);
    margin-top: calc(-1 * var(--border-width));
    cursor: pointer;
    color: var(--light);
    position: relative;
}
.tabs-title li:hover {
    background-color: var(--dark);
    color: var(--yellow-1);
}

.tabs-title li a {
    text-decoration: none;
    color: currentColor;
    font-size: 1.25rem;
}

.tabs-title li a::after{
    display: block;
    content: '';
    inset: 0;
    position: absolute;
}


.tabs-title li:hover, 
.tabs-title li.active {
    border-color: var(--yellow-1);
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-justify-around {
    justify-content: space-around;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}
.form-row {
    display: flex;
    flex-direction: column;
}

.gap-1 {
    gap: 0.25rem;
}
.gap-2 {
    gap: 0.5rem;
}
.gap-3 {
    gap: 0.75rem;
}

.info-text {
    border-radius: 0.125rem;
    background: #12151CAF;
    padding: 0.75rem;
    max-width: 70ch;
    max-height: 16rem;
    overflow: scroll;
}

.game-lobby {
    display: grid;
    grid-template-areas: 'aside main';
    grid-template-columns: 1fr 5fr;
}

.game-lobby-aside {
    grid-area: aside;
    background-color: var(--dark);
    padding: 0.5rem;
}
.game-lobby-content {
    grid-area: main;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    isolation: isolate;
}
.game-lobby-content h2 {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}
.game-lobby-list {
    background-color: #12151CAF;
    flex-grow: 1;
    margin: 0;
    padding: 1rem;
}
.game-lobby-item {
    display: flex;
    gap: 0.75rem;
    padding-block: 0.5rem;
    align-items: center;
}
.game-lobby-item:not(:last-child) {
    border-bottom: 1px solid var(--light);
}
.game-lobby-item .button {
    margin-left: auto;
}

.roles-wrapper {
    display: grid;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-block: 1rem;
}

.roles-wrapper article {
    background-color: #12151CAF;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transition: color 0.3s ease-in-out;
    box-sizing: border-box;
}

.roles-wrapper:not(.submit) article:hover {
    color: var(--light-red);
}

.roles-wrapper article label::after {
    content: '';
    position: absolute;
    inset: 0;
    cursor: pointer;
}

.roles-wrapper article input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.roles-wrapper article input[type="checkbox"]:checked + h3,
.roles-wrapper article input[type="checkbox"]:checked + h3 + label {
    color: var(--light-red);
}

.roles-wrapper article input[type="checkbox"]:focus + h3 + label::after,
.roles-wrapper article input[type="checkbox"]:checked + h3  + label::after {
    outline: 2px solid currentColor;
}

.roles-wrapper article input[type="checkbox"]:focus + h3 + label::after {
    color: var(--light);
}


.roles-wrapper h3 {
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.roles-wrapper svg {
    fill: currentColor;
    height: 3rem;
    width: auto;
}

.roles-wrapper.submit {
    margin: auto;
    max-width: 45ch;

}

.roles-wrapper.submit article {
    justify-content: space-between;
    height: fit-content;
}

.roles-wrapper .players-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 0.25rem;
    margin-top: auto;
}
.roles-wrapper .players-list li {
    padding-right: 0.25rem;
}
.roles-wrapper .players-list li:not(:last-child) {
    border-right: 1px solid currentColor;
}
.player-sheet {
    display: grid;
    grid-template-areas:
    'header right' 
    'infos  right' 
    'notes  notes';
    flex-grow: 1;
    grid-template-rows: min-content min-content auto;
    grid-template-columns: 7fr 5fr;
    column-gap: 2rem;
    row-gap: 1rem;
}
.player-sheet > svg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    fill: var(--red-1);
    background-color: var(--gray-1);
}

.immersion-text {
    max-width: 50ch;
    background-color: #12151CAF;
    margin: 0;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    padding: 0.5rem;
    position: relative;
    grid-area: header;
    height: fit-content;
}
.immersion-text::after {
    position: absolute;
    display: block;
    content: "";
    background-color: #12151CAF;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 32px;
    clip-path: polygon(0 0, 0% 100%, 125% 0);
}
.immersion-text p {
    margin: 0;
}
.agents-wrapper {
    grid-area: right;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.125rem;
    background: #12151CAF;
}
.agents-list {
    flex-grow: 1;
    display: flex;
    gap: 0.25rem;
    padding: 0;
    margin: 0;
    flex-direction: column-reverse;
    list-style: none;
    max-height: 450px;
    overflow: scroll;
}
.agents-list li {
    background-color: #12151CAF;
    padding: 0.25rem 0.5rem;
    border-radius: 0.125rem;
    display: grid;
}

.agents-list li div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}
.player-character-infos {
    list-style: none;
    padding: 0;
    margin: 0;
    grid-area: infos;
}

.player-character-infos h4 {
    margin-block: 1rem;
    font-family: Luciole-bold;
}

.player-character-infos em {
    font-family: Luciole;
}

.player-character-infos p {
    margin: 0;
}

.player-character-notes {
    grid-area: notes;
    background-color: #12151CAF;
    margin-inline: -0.5rem;
    margin-bottom: -0.5rem;
    display: flex;
    flex-direction: column;
    padding-inline: 0.5rem;
    overflow: scroll;
    max-height: 260px;
    margin-top: auto;
}
.solid-lines {
    flex-grow: 1;
    line-height: 2rem;
    background-image: linear-gradient(#3e4248af 1px, transparent 1px);
    background-size: 20px 30px;
}

.game-author {
    color: #eaab23;
}

.player-role svg {
    height: 2rem;
    width: auto;
    fill: currentColor;
}

.players-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.players-list li {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem;
    background-color: var(--gray-2);
}

.player-me {
    order: 1;
}

.player-ready-wrapper {
    margin-left: auto;
}

.player-ready {
    display: flex;
    margin-left: auto;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
}

.player-ready svg {
    height: 1.25rem;
    fill: var(--green-1);
}

.player-role
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tabs-container .player-sheet,
.tabs-container .game-lobby-content {
    position: unset;
    isolation: unset;
}

.players-info-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
}
.players-info-list > li {
    display: flex;
}

.players-info-list article {
    border-radius: 0.125rem;
    background: #12151CAF;
    padding: 0.75rem;
    overflow-y: scroll;
    max-height: 450px;
}
.players-info-list article header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: sticky;
    top: -0.75rem;
    background-color: var(--dark);
    margin: -0.75rem;
    padding: 0.5rem;
}

.game-board-content {
    justify-content: space-between;
}

.game-board {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: 3fr 5fr 4fr;
    height: 100%;
}

.game-board-character-list {
    padding: 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    border-radius: 0.125rem;
    background: #12151CAF;
    min-height: 70px;
    justify-content: space-around;
}

.game-board-character-list > li {
    width: fit-content;
}

.board-scene-flags {
    width: 350px;
}

.game-board-aside {
    padding: 0.5rem;
}

.game-board-aside > section {
    border-radius:0.125rem;
    background:#12151CAF;
    padding:0.75rem;
    max-width: 70ch;
    overflow:scroll;
    height: 100%;
    box-sizing: border-box;
}

.game-board-aside > section > div {
    display: grid;
    gap: 0.75rem;
}

.ts-wrapper {
    flex-grow: 1;
}

.character-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    position: relative;
}

.character-token {
    border: 2px double var(--red-2);
    border-radius: 99px;
    width: 64px;
    height: 64px;
    position: relative;
    background-color: var(--red-1);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.character-token svg {
    fill: currentColor;
    height: 3.5rem;
}

.board {
    --cell-width: 70px;
    display: grid;
    grid-template-columns: repeat(5, var(--cell-width));
    grid-template-rows: repeat(5, var(--cell-width));
    background-color: var(--light);
    width: max-content;
    height: max-content;
    background-image:
    conic-gradient(
      var(--light) 90deg,
      var(--dark) 90deg 180deg,
      var(--light) 180deg 270deg,
      var(--dark) 270deg
      )
    ;
  background-size: calc(var(--cell-width) * 2) calc(var(--cell-width) * 2);
  background-repeat: repeat;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}
.board .character-wrapper .tooltip {
    position: absolute;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: var(--light);
    border-radius: 0.125rem;
    background: #12151CAF;
    padding: 0.25rem;
    margin: auto;
    z-index: 10;
}
.board .character-wrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.board .static .character-token {
    background-color: var(--light);
    color: var(--dark);
    border-color: var(--light);
}

.board .static:nth-child(2n) .character-token {
    background-color: var(--gray-1);
    color: var(--light);
    border-color: var(--gray-2);
}